* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-custom-auth {
    background-color: #f05123 !important;
}

.btn-custom-auth:hover {
    background-color: #b92a03 !important;
}

.blog-view figure td {
    text-align: center;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.blog-card {
    background-color: #fff !important;
    padding: 20px;
    margin-top: 20px;
    min-height: 200px;
    border-radius: 10px;
}