.link-btn {
    padding: 30px 10px 20px;
    text-decoration: none;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.link-btn:hover {
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.2);
    transform: translateY(-4px);
    transition: all ease-in 0.3s;
}

.img-btn {
    width: 120px;
}

.link-btn h3 {
    margin-top: 8px;    
}

/* User profile css */
.profile-page {
    background-color: #eee;
}

.profile-avatar {
    width: 150px !important;
    height: 150px !important;
}